<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />

  <link rel="canonical" href="{{ site.url }}" />
</head>
<body>
  <div class="menu">
    <div class="menu-inner">
      <a href="./">
        <img src="{{ site.baseurl }}/images/LegitInternalTraffic_web.png" />
      </a>
    </div>
  </div>
  {{ content }}
  <div class="footer">
    <p class="center">
      &copy; 2019 LegitInternalTraffic.com 

    </p>
  </div>
</body>
</html>
